.button {
  display: block;
  padding: 6px 12px;
  margin-top: 20px;
  margin-left: 16px;
  /*margin-right: auto; */
  margin-bottom: 20px;
  color: #000;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
