.card {
  padding: 16px;
  display: flex;
}

.imageContainer {
  width: 240px;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.image {
  width: 240px;
  height: 360px;
}

.contentContainer {
  max-width: 600px;
  padding: 0px 30px;
}

.description {
  font-size: 14px;
}

.additional {
  width: 100%;
  padding-left: 16px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: #ff6b08;
  cursor: pointer;
  text-decoration: underline;
}
